@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800');
@import url(https://fonts.googleapis.com/css?family=Lato);
html,
body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    font-size: 18px;
}

.navbar {
    overflow: hidden;
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    height: 3rem;
    text-align: center;
    line-height: 2rem;
}

.navbar-menu ul li {
    display: inline-block;
    padding: 7px 13px;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 2rem 0 2rem;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: black;
}

.main-header {
    margin: 5rem 0 2rem 0;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    font-size: 4em;
    font-weight: normal;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
    color: #777;
    font-family: "American Typewriter";
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 4rem 0 4rem;
}

.card {
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Grey shadow */
    margin: 2rem 2rem 2rem 2rem;
    transition: transform 0.3s ease;
}

.card:nth-child(even):hover {
    transform: perspective(1000px) rotateY(-10deg);
}

.card:hover {
    transform: perspective(1000px) rotateY(10deg);
}

.card-content {
    padding: 30px;
    color: #777;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
    color: #424242;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px
}

.card-genre ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.card-genre ul li {
    display: inline-block;
    background-color: #B85042;
    color: white;
    padding: 7px 13px;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 15px;
}

.card-genre ul li:nth-child(even) {
    background-color: lightgrey;
    color: black;
}

.card-genre ul li:nth-child(3) {
    background-color: #0B5269;
    color: white;
}


.card-rank {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px;
}

.card-rank ul {
    list-style-type: none;
    justify-content: flex-end;
    display: flex;
    padding: 0;
    margin: 0;
    transform: translateY(-32px);
}

.card-rank ul li {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 13px;
    border-radius: 30px;
    text-align: center;
    border: 3px solid white;
    transition: transform 0.3s ease;
}

.card-rank ul li:hover {
    transform: scale(1.1);
}

.card-follower-count {
    transform: translateY(-35px);
}

.card-link {
    display: flex;
}

.card-link img{
    height: 25px;
    width: auto;
}

.card-link a {
    line-height: 25px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.card-link a:hover {
    color: #1DB954;
}

.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    margin-top: 2rem;
    padding: 10px;
}

.sort-button {
    margin-left: 1rem;
}

.filter-button {
    margin-left: 1rem;
    padding-right: 60px;
}
button {
    text-align: center;
    background-color: white;
    border: 2px solid dimgrey;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    margin: 10px 10px;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #db7c70;
    border: 2px solid white;
    color: white;
}

button:active {
    transform: scale(0.95);
}

.filters {
    display: flex;
    margin-left: 8.5rem;
    margin-bottom: 1rem;
}

#search-box {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 20px;
}

.search-bar {
    margin-left: 8rem;
    margin-bottom: 1rem;
    width: 300px;
    display: flex;
    justify-content: center;
}

.search-bar p{
    padding-top: 10px;
}

::selection {
    background: #F4CE14;
}

@media screen and (max-width: 1409px) {
    .card {
        margin: 1rem 1rem 1rem 1rem ;
        max-height: 110vw;
    }
    #card-container {
        margin: 0;
    }
    .card-genre {
        transform: translateY(-30px);
    }
    .card-link {
        transform: translateY(-25px);
    }
}

@media screen and (max-width: 800px) {
    .title{
        margin-top: 1rem;
        font-size: 3em;
    }
    .subtitle {
        font-size: 1.2em;
    }
    .navbar-menu ul li {
        margin: 0 1rem 0 1rem;
        font-size: 1em;
    }
    .search-bar {
        margin-left: 3rem;
    }
    .filters {
        margin-left: 3rem;
    }
    #card-container {
        margin: 0 1rem 0 1rem;
    }
}